body {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(65, 51, 45);
}

.d-none {
    display: none !important;
}

canvas {
    margin-top: 150px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid black;
}

.startButtonDiv {
    height: 480px;
    margin-top: 40px;
}

.startButtonDiv button {
    background-color: rgb(155, 46, 0);
    border-radius: 20px;
    outline: none; 
    border: none;
    padding: 10px;
    box-shadow: -2px 3px 9px 2px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: bold;
    font-family: 'Anton';

}

.startButtonDiv button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(150, 100, 0);
}

.startScreen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: 150px;
    width: 720px;
    height: 480px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settingButton img {
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.settingButton button {
    background-color: rgb(210, 90, 40);
    border-radius: 20px;
    outline: none; 
    border: none;
    padding: 10px;
    box-shadow: -2px 3px 9px 2px rgba(0, 0, 0, 0.5);
}

.settingButton button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(200, 140, 40);
}

.settingButton {
    position: absolute;
    bottom: 20px;
    width: 670px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.startScreen img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}